wandb/
data/imagenette2

logs/
results/
outputs/
.vscode/
ldm/__
latent_diffusion.egg-info
cdiff copy*

artifacts/*
scripts/models/ldm/cin256-v2/model.ckpt
models/ldm/cin256-v2
models/ldm/cin256-v2/model.ckpt
__pycache__/
__pycache__/
ldm/models/diffusion/__pycache__/

src/
src/clipseg
tench_eaten.png
.gitignore
scripts/testing_thedataset.py
src/clip
src/clipseg
src/taming-transformers
celeb_results_hpo.csv
sd_celeb_lora.ckpt
lora_finetune_simon_2_fused/
